
@font-face {
    font-family: rdctfont;
    src: url('/fonts/coolveticarg.ttf');
  }
  
  body {
    /* font-family: rdctfont; */
    font-family:Verdana,sans-serif;
    overflow-x: hidden;
  }

  .page-breadcrumbs {
    position: relative;
    background: #f3f3f3;
    min-height: 35px;
    line-height: 39px;
    padding: 0;
    display: block;
    z-index: 1;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

.clsRiderConnectDlImg
{
    
    height: 100px;
    width: 225px;
    cursor:pointer;
}

.clsRiderConnectmain
{
    height: 470px;
    width: 310px;
    float: right;
}

.clssubjectText
{
    font-size: 24px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #ffffff;
}
.clsFooterDiv

{
    background-color: #2d5986;
    color: #ffffff;
    font-size: 14px;
    padding:15px;
    text-align: center;
    position:fixed;
    bottom:0;
    height:50px;
    width: 100%;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.clsDivContent
{
    
    background-color:#1c1919;
    /* color: #ffffff; */
    padding:15px;
    /* text-align: center; */
    padding-bottom: 50px;
}

.navbar {
    position: relative;
    min-height: 60px !important;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
    padding-right: 5%;
    padding-left: 5%;
    color: #ffffff;
    background-color: #4080bf;
    padding-top: 5px;
    border-radius: 0px !important;
}

.navbar-brand
{
    font-size: 32px;
    color: #ffffff !important;
    text-shadow: 2px 2px 4px #000000;

}
/* .navbar-brand:hover
{
    color#e0dfdf;
} */

.navbar-nav 
{
    float: right;
    font-size: 20px;
    color: #ffffff !important;
    padding: 15px;
}

.navbar-default .navbar-nav > li > a {
    color:#ffffff !important;
    padding: 5px 15px !important;
}

.navbar-default .navbar-nav > li > a:hover {
    color:#e0dfdf !important;
}


.navbar-default .navbar-nav > li> a.active {
    color:#ffffff !important;
    padding: 5px 25px !important;
    background-color: #3973ac;
    border: 1px solid #ffffff;
}


.clsLblContact,.clsLblContactValue
{
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
}
.clsContactImg
{
    height: 100px;
    border-radius: 50px;
}

.clsParaDesign
{
    font-size: 18px;
    font-weight: 400;
}


#DivIdAppDetails
{
    background-image: url('/img/BackGroundImg.jpg');
    /* background-image: url('/img/bkImg.jpg'); */

    height: 80%;

}

.clsDashboardMain
{
    height: 100%;
    width: 100%;
}

.clsImgHealthCare
{
    height: 75%;
    width: 75%;
}

#DivIdAppDetails
{
    padding: 5%;
}

#DivIdHealthAppDetails
{
    padding: 5%;
    background-color: #3e4463;
}

#DivIdLibraryAppDetails
{
    padding: 5%;
}


#DivIdAppQuates
{
    margin-top: 10%;
    font-size: 30px;
}

#UIIdApplication li{
    font-size: 24px;
    color: #5D6D7E;
    margin-top: 10px;
}


.lblClsApplications
{
    font-size: 24px;
    color: #34495E;
    font-weight: 300;

}

.lblClsProjectName
{
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}
.clsImgLibrary
{
    height: 100%;
    width: 100%;
    margin-top: 50px;;
}

.clsAuthorName
{
    float:right;
    font-size: 24px;
    color: #3e4463;
}

.DivClassGitHubLink
{
/* border: 1px solid blue; */
background-color: #ffffff;
font-family: Georgia, 'Times New Roman', Times, serif;
/* border-radius: 10px; */
}

.clsImgGitHub
{
    height: 40px;
    width: 40px;
}

.pClsGitHubRepName
{
    font-size: 16px;
    text-decoration: underline;
}

.DivClassTech
{
 width: 100px;
 height: 40px;
 background-color: #2471A3;
 color: #ffffff;
 display: inline-block;
 padding: 0px 5px;
}

.DivClassTechName
{
    width: 65%;
    display: inline-block;

}

#DivIdLibraryAppDetails .DivClassGitHubLink
{
    border: 1px solid #5499C7;
}

#DivIdLibraryAppDetails .lblClsProjectName,#DivIdLibraryAppDetails .clssubjectText
{
color: #3e4463;
}



#TblIdShift
{
    margin: 5px auto;
    font-size: 11px;
}


#TblIdShift th {
    width:35px;
    height:35px;
    text-align:center;
    vertical-align:middle;
    background-color:#f3f3f3;
    border:1px solid #c0c0c0;
    /* padding: 5px 10px; */
  }

#TblIdShift td{
    /* padding: 5px 10px; */
    width:35px;
    height:35px;
    text-align:center;
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #c0c0c0;
  }
  
  #TblIdShift td.highlighted {
    background-color:#999;
  }

  #TblIdShift td.clsNameRow
  {
    background-color:#f3f3f3 !important;
    width: 250px;;
  }


  #DdlShiftSelect
  {
      min-width: 200px;
      /* margin-left: 20px; */
  }
  #btnIdShiftSelect
  {
      min-width: 180px;;
  }
  #DivIdSelectedShift,#DivIdSelectedShiftColor
  {
      border:1px solid #ccc;
      width: 180px;
      height: 30px;
      padding: 5px 1px;
      margin-top: 5px;
      font-size: 11px;;
      border-radius: 3px;
  }

  .clsShiftColor
  {
      height: 15px;
      width: 30px;;
      border: 1px solid #ccc;
      display: inline-block;
  }
  .clsShiftColorText
  {
      font-size: 11px;
      display: inline-block;
  }

  #tblIdShiftDetails td{
      margin: 5px;
      border:1px solid #ccc;
      padding: 5px;;
  }


  #DivIdShiftDetails
  {
      padding: 5px;
      background-color: #fff;
      -moz-box-shadow: 0 0 2px 2px #888;
-webkit-box-shadow: 0 0 2px 2px#888;
box-shadow: 0 0 2px 2px #888;
margin: 5px;
margin: 1% 1.5% !important;
width: 97%;
  }



  .page-header {
    position: relative;
    margin: 0;
    padding-bottom: 1px;
    padding-left: 12px;
    /* background-image: -webkit-linear-gradient(left,#fff,#f3f3f3);    */
    background-image: -webkit-linear-gradient(left,#fdfdfd,#d6d6d6);
    z-index: 0;
    min-height: 35px;
    border-bottom: 1px solid #c5c5c5;
    height: 35px;
    padding: 10px 20px;
    font-size: 14px;
}
  /*Shift Color*/


  .bgColorShift1,#TblIdShift td.bgColorShift1
  {
     /* background: linear-gradient(to left #9c9e9f 0%,#9c9e9f 50%,#4da6ff 50%,#4da6ff 100%); */
      background-color:#4da6ff;
      border-left: none; border-right: none;
      border-top: 2px solid #c0c0c0;
  }
  .bgColorShift2,#TblIdShift td.bgColorShift2
  {
      background-color: #cc99ff;
      border-left: none; border-right: none;
      border-top: 2px solid #c0c0c0

  }
  .bgColorShift3,#TblIdShift td.bgColorShift3
  {
      background-color: #00cc44;
      border-left: none; border-right: none;
      border-top: 2px solid #c0c0c0
  }
  .bgColorShift4,#TblIdShift td.bgColorShift4
  {
      background-color: #bf8040;
      border-left: none; border-right: none;
      border-top: 2px solid #c0c0c0
  }
  .bgColorShift5,#TblIdShift td.bgColorShift5
  {
      background-color: #ff5c33;
      border-left: none; border-right: none;
      border-top: 2px solid #c0c0c0
  }
  .bgColorShift6,#TblIdShift td.bgColorShift6
  {
      background-color: #e6b800;
      border-left: none; border-right: none;
      border-top: 2px solid #c0c0c0
  }

.bgColorHoliday
{
    background-color:red;
}


  .clsDivDateSelector
  {
      margin-top: 15px;;
  }

  .clsWeekDays div {
    font-size: 9px;
    border-radius: 12px !important;
    background-color: #fff;
    text-align: center;
    padding: 0px;
    border: 1px solid #cccc;
    margin: 0px auto;
    width: 20px;
}

.clsWeekDays div.sun {
    background-color:#f3a29a !important;
    color:#fff !important;
}
.clsWeekDays div.sat {
    color:#F1948A
}

.clsWeekDays div.oth {
    color:#ABB2B9;
}



/* Shift master */

#TblIdShiftMaster,#TblIdShiftResources
{
    margin-top: 20px;;
   
}


#TblIdShiftMaster th {
    /* width:35px; */
    height:35px;
    text-align:center;
    vertical-align:middle;
    background-color:#f3f3f3;
    border:1px solid #c0c0c0;
    padding: 5px 10px;
  }

#TblIdShiftMaster td{
    padding: 5px 10px;
    /* width:35px; */
    height:35px;
    text-align:center;
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #c0c0c0;
    font-size: 12px;
  }


  

#TblIdShiftResources th {
    /* width:35px; */
    height:35px;
    text-align:center;
    vertical-align:middle;
    background-color:#f3f3f3;
    border:1px solid #c0c0c0;
    padding: 5px 10px;
  }

#TblIdShiftResources td{
    padding: 5px 10px;
    /* width:35px; */
    height:35px;
    text-align:center;
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #c0c0c0;
    font-size: 12px;
  }

  #tblAddShift
  {
      margin: 0 auto;
      width: 60%;
  }

  
  #tblAddShift td
  {
     padding: 5px;
  }

  #dllIdMonth,#dllIdEmployee
  {
      margin:0px 10px;
      font-size: 12px;
  }

  #dllIdMonthMain
  {
      margin-top: 5px;
      height: 30px;
  }

  #ddlIdManager,#ddlIdEmployee
  {
      font-size: 11px;;
      float: right;
      margin: 2px 5px;;
  }

  .clsCopyShift
  {
      float: right;
      margin-right: 10px;;
  }

  .tdClsHoliday
  {
      background-color: red !important;
  }